@use "../../global.scss";

.team-container {
    @include global.main-margin;
    .team-card-container {
        justify-content: space-around;
    }
}

@keyframes animate-disappear {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 0%;
        display: none;
    }
}
