@use "../../global.scss";

.team-container {
    @include global.main-margin;
    .team-card-container {
        justify-content: space-around;

        @media (max-width: global.$tablet-width) {
            // align-self: center !important;
            // justify-self: center !important;
            // flex-direction: column !important;
            // align-items: center !important;
            // justify-content: center !important;
            // border: 1px solid black;
        }
    }
}

@keyframes animate-disappear {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 0%;
        display: none;
    }
}
