@use "../../../global.scss";

.team-card {
    width: 300px !important;
    height: 400px;

    // .team-card-img {
    //     width: 100%;
    //     height: 80%;
    // }

    @media (max-width: global.$laptop-width) {
        max-width: 400px !important;
        width: 400px !important;
        height: 500px;
        margin-bottom: 20px;
    }

    @media (max-width: global.$tablet-width) {
        max-width: 350px !important;
        width: 350px !important;
        height: 450px !important;
    }

    @media (max-width: global.$mobile-width) {
        max-width: 300px !important;
        width: 300px !important;
        height: 400px !important;
    }
    .card-title {
        font-size: 26px;
        font-weight: 500;
    }

    .card-subtitle {
        font-size: global.$fs-md;
        font-style: italic;
    }

    .card-skill-container {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        .card-skill-icon {
            margin-top: 10px;
            width: 30px;
            border-radius: 5px;
        }

        .icon-name {
            margin-left: 20px;
        }
    }
}
