@use "../../../global.scss";

.canvas-container {
    height: 100vh !important;
    width: 60vw !important;

    @media (max-width: 1200px) {
        height: 100vh !important;
        width: 80vw !important;
    }
}
