@use "../../global.scss";

.lighter {
    height: 10px;
    background-image: linear-gradient(to bottom, global.$primary 40%, white 200%);
    box-shadow: none !important;
}

.primary-navbar-color {
    transition: background-color 0.5s ease;
    background-color: global.$primary !important;
}

.secondary-navbar-color {
    transition: background-color 0.5s ease;
    background-color: #ffffff !important;

    .navbar-toggler {
        background-color: #fff !important;
        border-color: #fff !important;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23e47736' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
    }
    a {
        color: global.$primary !important;
    }
    a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: global.$secondary !important;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    a:hover::before {
        transform: scaleX(1);
    }
}

.navbar {
    position: fixed;
    width: 100vw;
    z-index: 99;
    box-shadow: 0px 50px linear-gradient(to bottom, #00172d, red) !important;

    #basic-navbar-nav {
        margin-left: 40px;
        align-items: center;
    }

    a {
        transition: color 0.6s, transform 0.6s !important;
        margin-right: 50px;
        position: relative;
        text-decoration: none;
    }

    a.active {
        color: global.$secondary !important;
        transform: scale(1.04) !important;
    }

    a:hover {
        color: global.$secondary !important;
    }

    a::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #fff;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    a:hover::before {
        transform: scaleX(1);
        color: global.$secondary !important;
    }

    // a:hover {
    //     transform: scale(1.04);
    // }

    .logo {
        width: 200px;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    * {
        color: global.$text-color;
    }
}
