@use "../../../global.scss";

.hero-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 80vw !important;

    .welcome-container {
        width: 40%;
    }

    @media (max-width: 1400px) {
        // width: 100vw !important;
        flex-direction: column;
        height: 80vh;

        margin-bottom: 100px;
        .welcome-container {
            width: 80% !important;
        }
    }

    @media (max-width: global.$mobile-width) {
        .welcome-container {
            width: 80% !important;
        }
    }
}
