$primary: #00172d;
$secondary: #e47736;
$text-color: #ffffff;

$fs-lg: 20px;
$fs-md: 16px;
$fs-sm: 14px;

$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 425px;

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2.5px;
    background: $secondary;
    transform-origin: 0%;
    z-index: 100;
}
.primary-color {
    color: $primary;
}

.secondary-color {
    color: $secondary;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: $secondary;
}

body {
    background-color: $primary;
    color: white;
}

.body-wrapper {
    padding: 20px 50px;
}

button {
    background-color: $secondary !important;
    border-color: $secondary !important;
}

* {
    font-family: "Raleway", sans-serif !important;
    font-weight: 300 !important;
}

h2,
h3,
h4,
h5 {
    margin-bottom: 20px !important;
    font-weight: 500 !important;
    color: $secondary;
}
